<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AzuriranjeKorisnika</servlet-name>
        <servlet-class>servlets.AzuriranjeKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detaljiFilma</servlet-name>
        <servlet-class>servlets.detaljiFilma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rezervacijaFilma</servlet-name>
        <servlet-class>servlets.rezervacijaFilma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminFilm</servlet-name>
        <servlet-class>servlets.adminFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminKorisnik</servlet-name>
        <servlet-class>servlets.adminKorisnik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminRezervacije</servlet-name>
        <servlet-class>servlets.adminRezervacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminProjekcije</servlet-name>
        <servlet-class>servlets.adminProjekcije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Klub</servlet-name>
        <servlet-class>servlets.KlubServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AzuriranjeKorisnika</servlet-name>
        <url-pattern>/AzuriranjeKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>detaljiFilma</servlet-name>
        <url-pattern>/detaljiFilma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rezervacijaFilma</servlet-name>
        <url-pattern>/rezervacijaFilma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminFilm</servlet-name>
        <url-pattern>/adminFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminKorisnik</servlet-name>
        <url-pattern>/adminKorisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminRezervacije</servlet-name>
        <url-pattern>/adminRezervacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminProjekcije</servlet-name>
        <url-pattern>/adminProjekcije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Klub</servlet-name>
        <url-pattern>/KlubServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
